*{
  margin: 0px;
  padding: 0;
}
body {
    font-size: 15pt;
    background-color: #eee; 
    font-family: "Helvetica Neue";
}
.header{
  width: 100%;
  height: 60px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}
.title .p1{
  padding: 20px;
  font-weight: bold;
  margin-right: 0px;
}
.links{
  float: right;
  margin-right: 30px;
  margin-top: -40px;
}
ul{
  list-style-type: none;
}
li{
  display: inline;
  margin-left: 20px;
}
a{
  text-decoration: none;
  color: black;
}
a:hover{
  color: gray;
}
/*Main*/
.main{
  width: 100%;
}
.text{
  width: 100%;
  height: 60px;
  text-align: center;
}
.text .p2{
/*  padding-left: 220px;*/
  padding-top: 100px;
  word-spacing: 30px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 5px;
}
.imgpro{
  float: right;
}
.img1{
  width: 300px;
  height: 300px;
  float: right;
  margin-top: 260px;
  margin-right: 30px;
  border-radius: 50%;
  border:3px solid black; 
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.9);
}
.tpro{
  margin-top:250px;
  margin-left: 40px;
}
.p3{
  font-size: 30px;
}
.ieee{
  color: #023E8A;
}
.icons{
  padding-top: 20px;
  margin-right: -280px;
  margin-top: 470px;
  float: right;
}
.icon{
  margin-left: 20px;
  font-size: 50px;
}
.line{
  width: 100%;
  border: 2px solid black;
  margin-top: 190px;
}
.pro{
  width:100%;
  height: 200px;
}
#ha{
  color: darkslateblue;
  font-size: 50px;
  margin: 0;
}
